@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ogg-Regular";
  src: url("assets/fonts/Ogg-Regular.woff") format("woff"),
    url("assets/fonts/Ogg-Regular.woff2") format("woff2"),
    url("assets/fonts/Ogg-Regular?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: "ZurichSans-Bold";
  src: url("assets/fonts/ZurichSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "ZurichSans-Medium";
  src: url("assets/fonts/ZurichSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "ZurichSans-Regular";
  src: url("assets/fonts/ZurichSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "ZurichSans-Light";
  src: url("assets/fonts/ZurichSans-Light.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5495cf;
}

#slider-section {
  color: #dde4e3;
  font-family: "ZurichSans-Regular", sans-serif;
}

.ogg {
  font-family: "Ogg-Regular", serif;
}

.z-light {
  font-family: "ZurichSans-Light", sans-serif;
}

.z-medium {
  font-family: "ZurichSans-Medium", sans-serif;
}

.z-bold {
  font-family: "ZurichSans-Bold", sans-serif;
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  position: relative;
  z-index: 2;
  /* Specified height */
  background: url(/slider.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* Grey background */
  outline: none;
  /* Remove outline */
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

#slider-illustration {
  grid-area: 1/1/3/3;
}
#slider-headline {
  grid-area: 1/3/2/5;
}
#quote-btn {
  grid-area: 2/3/3/5;
}

#slider-container {
  height: 13.75rem;
}

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 23px;
  /* Set a specific slider handle width */
  height: 24px;
  /* Slider handle height */
  background: url(/slider-handle.png);
  background-size: cover;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* @media (min-width: 1024px)  {
    .slider::-webkit-slider-thumb {
        width: 43px;
        height: 44px;
    }
} */

.slider::-moz-range-thumb {
  width: 23px;
  /* Set a specific slider handle width */
  height: 24px;
  /* Slider handle height */
  background: url(/slider-handle.png);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.circle-full {
  background-image: linear-gradient(180deg, transparent 50%, #2167ae 50%),
    linear-gradient(180deg, #2167ae 50%, transparent 50%);
}

.circle-three-quarter {
  background-image: linear-gradient(180deg, transparent 50%, #2167ae 50%),
    linear-gradient(90deg, #2167ae 50%, transparent 50%);
}

.circle-half {
  background-image: linear-gradient(180deg, transparent 50%, #2167ae 50%),
    linear-gradient(0deg, #2167ae 50%, transparent 50%);
}

.circle-half {
  background-image: linear-gradient(180deg, transparent 50%, #2167ae 50%),
    linear-gradient(0deg, #2167ae 50%, transparent 50%);
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  box-shadow: none !important;
}

@media (min-width: 1430px) {
  #semi-circle {
    bottom: 4rem;
  }
}
@media (min-width: 1590px) {
  #semi-circle {
    bottom: 1.5rem;
  }
}

@media (min-width: 1738px) {
  #semi-circle {
    bottom: -0.7em;
  }
}

@media (min-width: 1875px) {
  #semi-circle {
    bottom: -1.4rem;
  }
  #slider-container input {
    height: 11px;
  }
}

@media (min-width: 2146px) {
  #slider-container {
    padding-left: 10rem;
    padding-right: 2rem;
  }

  #slider-container input {
    height: 9.4px;
  }
  #semi-circle {
    bottom: -1rem;
    left: 12rem;
  }
}

@media (min-width: 1480px) {
  #slider-container input {
    height: 9px;
  }
}

@media (min-width: 1445px) {
  #slider-container input {
    height: 9px;
  }
}

@media (min-width: 1527px) {
  #slider-container input {
    height: 10px;
  }
}

@media (min-width: 1527px) {
  #slider-container input {
    height: 10px;
  }
}

@media (min-width: 1588px) {
  #slider-container input {
    height: 11px;
  }
}

@media (min-width: 1605px) {
  #slider-container input {
    height: 11px;
  }
}

@media (min-width: 1640px) {
  #slider-container input {
    height: 12px;
  }
}

@media (min-width: 1644px) {
  #slider-container input {
    height: 12px;
  }
}

@media (min-width: 1854px) {
  #slider-container input {
    height: 13px;
  }
}

@media (min-width: 1920px) {
  #slider-container input {
    height: 14px;
  }
}

@media (min-width: 2338px) {
  #slider-container input {
    height: 12px;
  }
}
