@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ogg-Regular';
    src: url('assets/fonts/Ogg-Regular.woff') format('woff'),
        url('assets/fonts/Ogg-Regular.woff2') format('woff2'),
        url('assets/fonts/Ogg-Regular?#iefix') format('embedded-opentype')
}

@font-face {
    font-family: 'ZurichSans-Bold';
    src: url('assets/fonts/ZurichSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'ZurichSans-Medium';
    src: url('assets/fonts/ZurichSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'ZurichSans-Regular';
    src: url('assets/fonts/ZurichSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ZurichSans-Light';
    src: url('assets/fonts/ZurichSans-Light.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slider-section {
    background-color: #5495CF;
    color: #fff;
    font-family: 'ZurichSans-Medium', sans-serif;
}

.ogg {
    font-family: 'Ogg-Regular', serif;
}

.z-light {
    font-family: 'ZurichSans-Light', sans-serif;
}

.z-bold {
    font-family: 'ZurichSans-Bold', sans-serif;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 7px;
    /* Specified height */
    background: url(/public/slider.png);
    background-size: cover;
    /* Grey background */
    outline: none;
    /* Remove outline */
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 23px;
    /* Set a specific slider handle width */
    height: 24px;
    /* Slider handle height */
    background: url(/public/slider-handle.png);
    background-size: cover;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 23px;
    /* Set a specific slider handle width */
    height: 24px;
    /* Slider handle height */
    background: url(/public/slider-handle.png);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}
